figure {
  text-align: center;  /* Centers content inside the figure */
}

figcaption {
  display: inline-block; /* Makes figcaption behave like an inline element */
  margin-top: 8px;       /* Adds space between the image and caption */
}

h2.mt-8.text-2xl.font-extrabold.mb-10 {
  display: none;
}

#main-content h1:first-of-type {
  display: none;
}

