{{- $imageName := .Get "src" -}}
{{- $alt := .Get "alt" -}}

{{- $postDir := .Page.File.Dir -}}  {{/* Get the current post’s directory */}}
{{- $imagePath := printf "%s%s" $postDir $imageName -}}  {{/* Construct full relative path */}}

{{- $originalImage := .Page.Resources.GetMatch $imageName -}}

{{ if not $originalImage }}
  {{ errorf "EXIF shortcode error: Image '%s' not found in post directory '%s'" $imageName $postDir }}
{{ end }}

<figure>
  {{ with $originalImage }}
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}">
  {{ else }}
    <p>Error: Image {{ $imagePath }} not found</p>
  {{ end }}

  {{ with $originalImage.Exif }}
    <figcaption>
      {{ $alt }}
      <br />
      <span class="exif-item">{{ with .Tags.Make }}{{ . }}{{ end }}</span>
      <span class="exif-item">{{ with .Tags.Model }}{{ . }}{{ end }}</span>
      <span class="exif-item">{{ with .Tags.FNumber }}
        {{ $fnumber := div (float .) 1.0 }}  {{/* Convert fraction to decimal */}}
        <i>ƒ/</i>{{ $fnumber }}
      {{ end }}</span>
      <span class="exif-item">{{ with .Tags.FocalLength }}{{ . }}mm{{ end }}</span>
      <span class="exif-item">{{ with .Tags.ExposureTime }}{{ . }}{{ end }}</span>
      <span class="exif-item">{{ with .Tags.ISO }}ISO {{ . }}{{ end }}</span>
    </figcaption>
  {{ end }}
</figure>
