{{- $imageName := .Get "src" -}}
{{- $alt := .Get "alt" -}}

{{- $postDir := .Page.File.Dir -}}  {{/* Get the current post’s directory */}}
{{- $imagePath := printf "%s%s" $postDir $imageName -}}  {{/* Construct full relative path */}}

{{- $originalImage := .Page.Resources.GetMatch $imageName -}}

<figure>
  {{ with $originalImage }}
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}">
  {{ else }}
    <p>Error: Image {{ $imagePath }} not found</p>
  {{ end }}

  {{ with $originalImage.Exif }}
    <figcaption>
      {{ with .Tags.Title }}{{ . }}{{ end }}
      {{ with .Tags.Model }} • {{ . }}{{ end }}
      {{ if .Tags.Make }} • {{ end }} 
      {{ with .Tags.FNumber }} ƒ/{{ div (float .) 1.0 }}{{ end }}
      {{ with .Tags.ExposureTime }} • {{ . }}{{ end }}
      {{ with .Tags.ISO }} • ISO {{ . }}{{ end }}
    </figcaption>
  {{ end }}
</figure>
