{{- $imageName := .Get "src" -}}
{{- $alt := .Get "alt" -}}

{{- $postDir := .Page.File.Dir -}}  {{/* Get the current post’s directory */}}
{{- $imagePath := printf "%s%s" $postDir $imageName -}}  {{/* Construct full relative path */}}

{{- $originalImage := .Page.Resources.GetMatch $imageName -}}


{{ if not $originalImage }}
  {{ errorf "EXIF shortcode error: Image '%s' not found in post directory '%s'" $imageName $postDir }}
{{ end }}

<figure>
  {{ with $originalImage }}
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}">
  {{ else }}
    <p>Error: Image {{ $imagePath }} not found</p>
  {{ end }}
</figure>

{{ with $originalImage.Exif }}
<figcaption>{{ $alt }}
  <br />
  {{ with .Tags.Model }}{{ . }}{{ end }}  
  {{ with .Tags.LensModel }}{{ . }}{{ end }}  
  {{ with .Tags.FNumber }}<i>f</i>{{ . }}{{ end }}  
  {{ with .Tags.FocalLength }}{{ . }}mm{{ end }}  
  {{ with .Tags.ExposureTime }}{{ . }}{{ end }}  
  {{ with .Tags.ISOSpeedRatings }}ISO {{ . }}{{ end }}  
  <br />
  {{ with .Tags.Artist }}{{ . }} - {{ end }}  
  {{ with .Tags.DateTimeOriginal }}{{ . }} - {{ end }}  
  {{ with .Tags.Copyright }}{{ . }}{{ end }}
</figcaption>
{{ end }}
